// Estilos específicos do componente testimonials
// Os estilos do carousel/swiper estão em carousel.scss

:host ::ng-deep {
    .testimonial-card-content {
        min-height: 400px;
        display: flex;
        flex-direction: column;
    }
}