<div class="hero min-h-[80vh]"
    style="background-image: url('https://images.unsplash.com/photo-1542601902038-dac58b6c66e6?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');">
    <div class="hero-overlay bg-opacity-90 bg-gradient-to-br from-primary to-secondary"></div>
    <div class="hero-content text-center text-primary-content">
        <div class="max-w-3xl animate-slideUp">
            <h1 class="mb-5 text-5xl md:text-6xl font-bold leading-tight">Um futuro sustentável<br>começa com <span
                    class="text-accent">Cultura Ativa</span></h1>
            <p class="mb-5 text-2xl md:text-3xl font-light opacity-90 leading-relaxed">Não é palestra. Não é
                teoria.<br>É
                transformação.</p>
        </div>
    </div>
</div>