<div class="py-20 bg-neutral-light dark:bg-surface-dark">
    <div class=" ticker-container relative">
        <p class="text-center text-sm font-bold text-gray-400 dark:text-gray-500 uppercase tracking-widest mb-20">
            Quem Confia na Nossa Metodologia</p>
        <div class="partners-ticker-content">
            @for (logo of displayLogos; track $index) {
            <div
                class="logo-set opacity-50 grayscale mix-blend-multiply dark:mix-blend-screen dark:invert hover:grayscale-0 hover:opacity-100 hover:mix-blend-normal transition-all duration-500">
                <img [src]="logo.src" [alt]="logo.alt" class="h-16 md:h-24 w-auto object-contain">
            </div>
            }
        </div>
    </div>
</div>