<section class="py-24 lg:py-32 bg-company relative overflow-hidden mt-12">
    <div
        class="absolute top-0 right-0 w-[800px] h-[800px] bg-accent/10 rounded-full blur-3xl -translate-y-1/2 translate-x-1/2 pointer-events-none">
    </div>
    <div
        class="absolute bottom-0 left-0 w-[600px] h-[600px] bg-accent/20 rounded-full blur-3xl translate-y-1/2 -translate-x-1/2 pointer-events-none">
    </div>
    <div
        class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-full h-full opacity-5 pointer-events-none">
        <svg height="100%" preserveAspectRatio="none" viewBox="0 0 100 100" width="100%">
            <path d="M0 50 Q 50 0 100 50" fill="none" stroke="white" stroke-width="0.5"></path>
            <path d="M0 60 Q 50 10 100 60" fill="none" stroke="white" stroke-width="0.5"></path>
        </svg>
    </div>
    <app-differentiators></app-differentiators>
    <app-comparison></app-comparison>
</section>