<section class="py-12 -mt-16 relative z-20">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="bg-base-100 rounded-3xl shadow-xl shadow-black/5 p-2 max-w-4xl mx-auto border border-base-300">
            <div class="flex flex-col md:flex-row items-center justify-between gap-4 p-6">
                <span class="font-bold text-lg text-primary whitespace-nowrap">Quem você representa?</span>
                <div class="flex flex-wrap w-full justify-center md:justify-end gap-3">
                    <button
                        class="flex-1 md:flex-none px-6 py-3 rounded-xl border border-base-300 hover:border-accent hover:bg-accent/10 text-base-content hover:text-accent transition-all duration-300 flex items-center justify-center gap-2 group"
                        [routerLink]="['/empresa']" routerLinkActive="!border-accent !bg-accent/10 !text-accent"
                        [routerLinkActiveOptions]="{exact: true}">
                        <span
                            class="material-symbols-outlined text-base-content/40 group-hover:text-accent transition-colors">business</span>
                        <span class="font-bold">Empresa</span>
                    </button>
                    <button
                        class="flex-1 md:flex-none px-6 py-3 rounded-xl border border-base-300 hover:border-accent hover:bg-accent/10 text-base-content hover:text-accent transition-all duration-300 flex items-center justify-center gap-2 group"
                        [routerLink]="['/escola']" routerLinkActive="!border-accent !bg-accent/10 !text-accent"
                        [routerLinkActiveOptions]="{exact: true}">
                        <span
                            class="material-symbols-outlined text-base-content/40 group-hover:text-accent transition-colors">school</span>
                        <span class="font-bold">Escola</span>
                    </button>
                    <button
                        class="flex-1 md:flex-none px-6 py-3 rounded-xl border border-base-300 hover:border-accent hover:bg-accent/10 text-base-content hover:text-accent transition-all duration-300 flex items-center justify-center gap-2 group"
                        [routerLink]="['/governo']" routerLinkActive="!border-accent !bg-accent/10 !text-accent"
                        [routerLinkActiveOptions]="{exact: true}">
                        <span
                            class="material-symbols-outlined text-base-content/40 group-hover:text-accent transition-colors">account_balance</span>
                        <span class="font-bold">Governo</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>